/* Products.css */
.products-section {
  padding: 20px;
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.product-category {
  margin-bottom: 40px;
}

.product-category h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-category p {
  font-size: 16px;
  margin-bottom: 20px;
}

.product-category img {
  width: 15%;
  max-width: none;
  height: auto;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: transform 0.3s ease;
}

.product-category img:hover {
  transform: scale(1.1);
}
